body {
  text-align: center;
}

.chart {
  border-left: 1px solid black; /*y axis*/
  border-bottom: 1px solid black;/*x axis*/
  border-right: 1px solid black;/*x axis*/
   
  margin: 60px auto;
  position: relative;
  list-style: none;
  padding: 0;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}

.dot {
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    float: right;
    margin-top: -2px;
    
}
.dot .right {
    float:right;
}
.tooltip {
    position: relative;
    display: inline-block;   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.bar {
  background: blue;
  position: absolute;
  bottom: 0;
}
.bar:nth-of-type(even) {
  background: CornflowerBlue;
}
/*.bar span {
  position: absolute;
  bottom: -10px;
  left: 50%;  
  transform-origin: left top;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
  white-space: nowrap;
}
.bar:hover span {
  opacity: 1;
}*/
