<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>CamelRace</title>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />-->
    <!--<script src="bower_components/angular/angular.js"></script>-->
    <!--<script src="app/app.js"></script>-->
    <link rel="stylesheet" href="app.css" />
    <script src="app/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/phone-list.component.js"></script>
    <script src="app/bar-list.component.js"></script>
</head>
<body ng-controller="graphController">

    <!--<div class="chart" style="width:{{width}}px; height:{{height}}px;">-->
    <div class="chart" style="width:{{width}}px; height:{{(width / (data.length)) * data.length}}px;">

        <!-- Labels -->
        <div class="y" style="width:{{height}}px;">{{yAxis}}</div> <!--Vertical axis text-->
        <div class="x">{{xAxis}}</div> <!--Horizontal axis text-->
        <!-- Data -->
        <!--<div ng-repeat="bar in data" class="bar" style="height:{{width / data.length - 40}}px; width:{{bar.value / max * height}}px; top:{{$index / data.length * width}}px;"></div>-->
        <!--<div ng-repeat="bar in data" class="bar" style="height:{{width / data.length - 40}}px;width:{{bar.value / max * height}}px; top:{{$index / data.length * width}}px;">{{width / data.length - 40}}**{{bar.value / max * height}}**{{$index / data.length * width}} </div>-->
        <bar-list></bar-list>
    </div>


    <!--step 2-->
    <!--<ul>
        <li ng-repeat="phone in tasks">
            <span>{{phone.name}}</span>
            <p>{{phone.total}}</p>
        </li>
    </ul>-->
    <!--step 3-->
    <!--<phone-list></phone-list>-->

</body>
</html>
