
.dot {
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*position: absolute;*/
    float: right;
    margin-top: -2px;
    

}
.dot .right {
    float:right;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 0%; 
    }

    to {
        margin-left: 0%;        
    }
}
/* Standard syntax */
@keyframes mymove {
    0%   {top: 0px; background: red; width: 100px;}
    100% {top: 200px; background: yellow; width: 300px;}
}
